<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="goods">
  <insert id="insertGoods">
  	insert into goods values(#{no},#{name},#{price},#{qty},#{fname})
  </insert>
  <select id="selectGoods" resultType="GoodsVo">
    select * from goods order by no
  </select>
  <select id="detailGoods" resultType="GoodsVo">
  	select * from goods where no = #{no}
  </select>
  <update id="updateGoods">
  	update goods set name=#{name}, price=#{price}, qty=#{qty}, fname=#{fname} where no = #{no}
  </update>
  <delete id="deleteGoods">
  	delete goods where no = #{no}
  </delete>
</mapper>