<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="goods">

	<select id="count" resultType="java.lang.Integer">
	select count(*) from goods
	 <if test="keyword != null and  keyword != ''">
	    <if test="keyfield == 'price'">
	    where price ${oper} #{keyword}
	    </if>
	    <if test="keyfield != 'price'">
	    where ${keyfield} like '%' || #{keyword} ||'%'
	    </if>
    </if>
   <if test="sortName!=null and sortName!= ''">
	    order by ${sortName}
	</if>
	</select>
	
  <insert id="insertGoods">
  	insert into goods values(#{no},#{name},#{price},#{qty},#{fname})
  </insert>
  <select id="selectGoods" resultType="GoodsVo">
    select * from 
    (select rownum n, no, name, price, qty, fname
	from (select * from goods
    <if test="keyword != null and  keyword != ''">
	    <if test="keyfield == 'price'">
	    where price ${oper} #{keyword}
	    </if>
	    <if test="keyfield != 'price'">
	    where ${keyfield} like '%' || #{keyword} ||'%'
	    </if>
    </if>
   <if test="sortName!=null and sortName!= ''">
	    order by ${sortName}
	    </if>
	<if test="sortName==null or sortName==''">
		order by no
	</if>
	)) a
	where a.n between #{start} and #{last} 
  </select>
  <select id="detailGoods" resultType="GoodsVo">
  	select * from goods where no = #{no}
  </select>
  <update id="updateGoods">
  	update goods set name=#{name}, price=#{price}, qty=#{qty}, fname=#{fname} where no = #{no}
  </update>
  <delete id="deleteGoods">
  	delete goods where no = #{no}
  </delete>
</mapper>