<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h2>학생목록</h2>
        <table>
            <tr>
                <td>이름</td>
                <td>국어</td>
                <td>영어</td>
                <td>수학</td>
            </tr>
       {% for s in arr %}
            <tr>
                <td>{{s.name}}</td>
                <td>{{s.kor}}</td>
                <td>{{s.eng}}</td>
                <td>{{s.math}}</td>
            </tr>
        {% endfor %}
        </table>

</body>
</html>