<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sms">
  <select id="selectAll" resultType="smsVo">
  	select * from bitmember
  </select>
  <insert id="join">
  	insert into bitmember values(#{id}, #{email}, 0, #{phone})
  </insert>
</mapper>